@import 'tailwindcss';

.number-input {
  appearance: textfield;
  -moz-appearance: textfield;
  color-scheme: dark;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
