@import 'tailwindcss';

.number-input {
  appearance: auto;
  color-scheme: dark;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: auto;
  margin: 0;
  opacity: 1;
  filter: invert(1);
  cursor: pointer;
}
